@import "tailwindcss";
@body {
  @apply bg-background;
}
@theme {
  --font-display: "roboto", "sans-serif";
  --color-background: #f5f5f5;
  --color-black-font: #0e0e0e;
  --color-white-font: #ffffff;
  --color-price-font: #0e42fd;
  --color-mens: #2bd9af;
  --color-womens: #ff5e84;
}
